# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\training WS\QT\Modul4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
